$alkali-metals: #9fa8da;
$noble-gases: #ffcab1;
$alkaline-earth-metals: #bced09;
$n-a: #f9cb40;
$pnictogens: #ff715b;
$chalcogens: #78c0E0;
$halogens: #17bebb;
$transition-metals: #ef709d;
$lanthanides: #bdbbb0;
$actinides: #dbd3ad;